{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="container py-4">
        <div class="text-center mb-4">
            <h1 class="mb-0 h2">Create New User</h1>
        </div>
    </div>
    <hr class="my-1">
    <div class="row container mb-4 ms-4 mt-2">
        <div class="col-md-12 mb-4">
            <p class="text-center text-muted">Fill out the form below to create your account.</p>
        </div>
        <div class="col-md-6 bg-light p-4 rounded shadow">
            {{ form_start(form) }}
            <div class="mb-3">
                <label for="user_username" class="form-label">Username</label>
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                <label for="user_email" class="form-label">Email</label>
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                <label for="user_password" class="form-label">Password</label>
                {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
            </div>
            {% if app.user is defined and app.user.role is defined and app.user.role.label == 'ADMIN' %}
                <div class="mb-3">
                    <label for="user_role" class="form-label">Role</label>
                    {{ form_widget(form.role, {'attr': {'class': 'form-select'}}) }}
                </div>
            {% endif %}
            <button class="btn btn-primary" type="submit">
                {{ button_label|default('Save') }}
            </button>
            {{ form_end(form) }}
        </div>
        <div class="col-md-6 text-center">
            <div class="p-3  ms-5 justify-content-center rounded-circle text-center bg-primary-subtle" style="width:9rem; height:9rem">
                <i class="fa-solid fa-user-plus fa-5x text-primary"></i>
            </div>
            <h2 class="mt-5">Why Create an account?</h2>
            <p class="lead">Manage your orders and enhance your shopping experience.</p>
            <p class="text-muted">Users can track orders, save preferences, and receive personalized offers.</p>
        </div>
    </div>

{% endblock %}
